# Logs
logs
*.log

prisma/migrations/*

# Dependency directories
node_modules/
jspm_packages/
dist/

# Typescript v1 declaration files
typings/

# dotenv environment variables file
.env

# My project notes - Kz
notes.txt
